AWS_REGION=us-east-1
S3_RAW_BUCKET=civic-lens-raw
S3_CROPS_BUCKET=civic-lens-crops
DYNAMO_TABLE_DETECTIONS=cl-detections
DYNAMO_TABLE_TICKETS=cl-tickets
DYNAMO_TABLE_JOBS=cl-jobs
SQS_QUEUE_URL=https://sqs.us-east-1.amazonaws.com/123456789012/civic-lens-jobs
WEBHOOK_SECRET=changeme
# Local dev overrides (uncomment for docker-compose localstack):
# AWS_ENDPOINT_URL=http://localhost:4566
# DYNAMO_ENDPOINT_URL=http://localhost:8100
# AWS_ACCESS_KEY_ID=test
# AWS_SECRET_ACCESS_KEY=test
